*{
    margin: 0;
    padding: 0;
}
.cards{
    display: grid;
    grid-template-columns: repeat(4,200px);
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
}
.card{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
.card img{
    width: 150px;
}
